html {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Alata", sans-serif;
    font-weight: 600;    
}
p {
    font-family: Roboto, arial, sans-serif;
    font-weight: 600;
    color: #404040;

}
main p {
    padding: 20px;
    text-align: left;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #303030;
}
/*---------------HEADER----------------*/
header {
    background-color: #aaafaa;
    font-weight: 600;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 16px;
    padding-left: 16px;
}
#main-logo {
    margin-right: 64px;
}
#main-logo img {
    transition: transform 0.3s;
}
#main-logo img:hover {
    transform: scale(1.2);
}
nav {
    display: inline-flex;
}
.main-nav {
    display: inline;
    margin-right: 20px;
}
.main-nav {
    font-size: 16px;
    transition: font-size 0.2s ease-in-out;
}
.main-nav:hover {
    font-size: 18px;
}
header a:link {
    color: black;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header a:visited { /*dasables color chainging after clicking*/
    color: black;
}
/*---------------TEXT-IMG----------------*/
#text-img h1 {
    text-align: left;
}
#text-img{
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
}
#text-img-div2 {
    display: flex;
    justify-content: flex-start;
}
#text-img> div {
    flex: 1 1 44%; /* Each div takes up 40% of the container's width */
    box-sizing: border-box;
    padding: 10px;
}
#text-img> div:nth-child(2) {
    flex: 1 1 56%; /* This div takes up 60% of the container's width */
  }
#text-img h1 {
    margin: 20px;
    font-size: 72px;
    font-weight: bold;
    font-family: "Alata", sans-serif;
}
#text-img .innerLeft {
    max-width: 400px;
    margin-left: auto;
}
#text-img-img {
    max-width: 600px;
    align-content: center;
    border-radius: 5%;  
}
@media (max-width: 1125px) {
    #text-img-div1 {
        display: flex;
        justify-content: center;
    }
    #text-img-div2 {
        display: flex;
        justify-content: center;
    }
    #text-img .innerLeft {
        margin: 0;
    }
    #text-img .innerLeft {
        max-width: 1100px;
    }
    #text-img-img {
        max-width: 95%;
    }
}
/*---------------IMG-TEXT----------------*/
#img-text {
    display: flexbox;
}
#text-img> div {
    flex: 1 1 44%; /* Each div takes up 40% of the container's width */
    box-sizing: border-box;
    padding: 10px;
}
#text-img> div:nth-child(2) {
    flex: 1 1 56%; /* This div takes up 60% of the container's width */
}
/*----------------footer----------------*/
footer {
    font-family: "Alata", sans-serif;
    padding: 16px;
    background-color: #30404e;
    height: 200px;
    justify-content: space-around;
    display: flex;
}
footer div{
    min-width: 200px;
}
footer p {
    color: #f9f9f9;
}
footer h3 {
    color: #f9f9f9;
}
footer a:link, footer a:visited {
    color: #f9f9f9;
}
footer .ico {
    height: 32px;
    margin: 2px;
}